<!-- Working with various shapes in CSS -->
<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Working with shapes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/Users/Saral/Desktop/100daysofcode/Day_1/css/main.css" >
    <script src="main.js"></script>
</head>
<div id = "circle">
    <div id = "row">
        <div id="eyes">hello</div>
    <div id="eyes">a</div>
    </div>
    
</div>